<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2> <%= link_to restaurant.name, restaurant %> </h2>
    <h3> <%= link_to 'Edit', edit_restaurant_path(restaurant) %> </h3>
  <% end %>
<% else %>
  No restaurants yet
<% end %>

<a href='/restaurants/new'>Add a restaurant</a>